{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
		table{
			background-color:lightblue;
			font-family: all;
		}
		h1{
			background-color: black;
			font-size: 35px;
			font: bold;
			color: white;
		}
	</style>
</head>
<body>
<center>
<h1>Change Password</h1>
{% if msg %}
	{{msg}}
{% endif %}

<form name="change_password" method="post" action="{% url 'change_password' %}">
	{% csrf_token %}
	<table>
	<b>
		<tr>
			<td>Old Password</td>
			<td><input type="password" name="opassword"></td>
		</tr>
		<tr>
			<td>New Password</td>
			<td><input type="password" name="npassword"></td>
		</tr>
		<tr>
			<td>Confirm New Password</td>
			<td><input type="password" name="cnpassword"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center" bgcolor="black"><input type="submit" value="Change Password"></td>
		</tr>
	</b>
	</table>
</form>
</center>

</body>
</html>
{% endblock %}