{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
		table{
			background-color:lightblue;
			font-family: all;
		}
		h1{
			background-color: black;
			font-size: 35px;
			font: bold;
			color: white;
		}
	</style>
</head>
<body>
<center>
<h1>Enter New Password</h1>
{% if msg %}
	{{msg}}
{% endif %}
{% if msg1 %}
	Your Email is not verified.Please  <a href="{% url 'enter_email' %}">Click Here</a> To Verify
{% endif %}

<form name="forgot_password" method="post" action="{% url 'forgot_password' %}">
	{% csrf_token %}
	<table>
	<b>
		<tr>
			<td><input type="hidden" name="email" value="{{email}}"></td>
		</tr>
		<tr>
			<td> New Password</td>
			<td><input type="password" name="npassword"></td>
		</tr>
		
		<tr>
			<td> Confirm New Password</td>
			<td><input type="password" name="cnpassword"></td>
		</tr>
		
		<tr>
			<td bgcolor="black"><input type="submit" value="Update Password"></td>
			
		</tr>
	</b>
	</table>
</form>
</center>

</body>
</html>
{% endblock %}