{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
		table{
			background-color:lightblue;
			font-family: all;
		}
		h1{
			background-color: black;
			font-size: 35px;
			font: bold;
			color: white;
		}
	</style>
</head>
<body>
<center>
<h1>SignUp</h1>
{% if msg %}
	{{msg}}
{% endif %}
<form name="signup" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
	<b>
		<tr>
			<td>User Type</td>
			<td>
				<input type="radio" name="usertype" value="user">User
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="usertype" value="seller">Seller
			</td>
		</tr>
		<tr>
			<td>First Name</td>
			<td><input type="text" name="fname"></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lname"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td><input type="text" name="mobile"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Confirm Password</td>
			<td><input type="password" name="cpassword"></td>
		</tr>
		<tr>
			<td>User Iamge</td>
			<td><input type="file" name="user_image"></td>
		</tr>
		<tr>
			<td colspan="2" align="center" bgcolor="black" >
			<input type="submit" value="SignUp" class="btn btn-primary"></td>
		</tr>
	</b>
	</table>
</form>
</center>

</body>
</html>
{% endblock %}